# AI Agent Credentials
GEMINI_API_KEY=your_gemini_api_key_here

# Salesforce Credentials
SF_USERNAME=your_salesforce_username
SF_PASSWORD=your_salesforce_password
SF_SECURITY_TOKEN=your_salesforce_security_token
SF_CONSUMER_KEY=your_connected_app_consumer_key
SF_CONSUMER_SECRET=your_connected_app_consumer_secret
SF_DOMAIN=test # Use 'login' for production or 'test' for sandbox/dev edition if needed, usually 'login' works for Dev Edition

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-s3_60h1tow5k#o*u-p9l^1fd@8mrm3u3+_bl#3dcxmzmxrn)3z
ALLOWED_HOSTS=localhost,127.0.0.1
